@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

/* first we have to calculate the screen size ,for the fisrt design we see that the header contain a child
which holds 1920-240-240=1440 pixel width */

header , #hot-deal {
    background-color: rgba(229, 84, 115, 0.1);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 97px;
}



.container .banner-txt {
    max-width: 531px;
}


/* here we use "*"{ to cover everything under it */
.container .banner-txt * {
    margin-bottom: 32px;
}

p {
    font-size: 13.5px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    line-height: 30px;
}

.banner-txt p {
    max-width: 475.5px;
}

button {
    background-color: rgba(229, 84, 115, 1);
    border-radius: 8px;
    border: none;
    padding: 20px 43px;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    /* Apply a smooth animation (transition) to all properties over 1 second */
    transition: all 1s;




}

button:hover {
    background: rgb(10, 235, 77);
}

.container .banner-txt h1 {
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;


}

.container .banner-img {
    max-width: 476.25px;
    max-height: 600px;

}

.container .banner-img img {
    width: 100%;
    vertical-align: middle;
}

.containerr{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;

}


.section-heading{
    max-width: 500px;
    text-align: center;
    margin: 20px auto;

}

.section-heading h2{
    color: rgba(39, 39, 39, 1);
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

#featured{
    padding-top: 100px;
}

.section-content{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
   
}

.section-content .flower .flower-img{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    height: 500px;
    padding: 30px 15px 0;
    display: flex;
    align-items: end;
}

.section-content .flower .flower-img img{

    width: 100%;

}

.section-content .flower p{
    color: rgba(39, 39, 39, 1);
    font-weight: 700;
    text-decoration-line:underline;
    text-align: center;
    margin-top: 20px;
    /* line-height: 35px; */

}

.support-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    padding: 86px 0;



    
}

#featured , .same-day-delivery , #hot-deal ,.instagram{
    margin-bottom: 128px;
}

.support-container .img p {

    font-size:24px ;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    margin-top: 18px;
    
}

.hot-deal-main{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 186px;
    padding: 100px 0;
}

.hot-deal-text{
    width: 75%;
    max-width: 550px;
    text-align: center;
}

.hot-deal-text h2{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.span-clr{
    color: rgba(229, 84, 115, 1);
}

.hot-deal-text *{
    margin-bottom: 24px;
}

.hot-deal-img{
    max-width: 318px;
}

.insta-head{
    max-width: 445px;
    margin-bottom: 48px;

}

.insta-img-container{
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;


}

.insta-img img{
    width: 100%;
    height: 100%;
}

